.fullContainer {
  /* background-color: #1E293B; */
}

.container {
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 85px;
  background-color: #1E293B;

}

.centered-content {
  width: 100vw;
  max-width: 800px;
  margin-top: 2rem;
}

.centered-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.centered-content p {
  margin-top: 2%;
  width: 100vw;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.section {
  margin-top: 10%;
  width: 80%;
  gap: 30px;
}

.left img {
  max-width: 100%;
  height: auto;
  margin-right: 2rem;
  /* Adjust as needed for spacing */
}

.rightSec {
  width: 100%;
  max-width: 500px;
}

.rightSec h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.toolSec {
  width: 100vw;
  margin-top: 10%;

}

.centerDiv {
  width: 60%;
  margin-top: 12%;


}