/*GOOGLE FONTS 👉👉 👉 👉👉👉👉*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");





:root {


  /* 💮💮💮💮💮Large-font-sizes💮💮💮💮💮💮 */
  --font-size-lg: 60px;


  /*   💚💚💚💚💚💚 colors  💚💚💚💚💚💚*/
  --color-white: #ffffff;
  --color-light-grey: #A0AEC0;
  --color-dark-grey: #718096;
  --color-red: #ff4141;
  --color-dark-red: #522224;
  --color-very-dark-grey: #1a1a1a;
  --color-medium-red: #cf3636;
  --color-dark: #1E1E1E;

}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #1E293B; */
  overflow-x: hidden;

}


/***👇👇 Re-usable width👇👇*/
.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}


/* Re-Usable Flex classes  👇👇👇👇👇👇👇*/
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-start {
  align-items: flex-start;
}

.bg-black {
  background-color: var(--color-dark);
}

.text-center {
  text-align: center;
}

.sans-font {
  font-family: "Open Sans";
}

.outfit-font {
  font-family: "Outfit", sans-serif;
}

.text-white {
  color: var(--color-white);
}

.text-light-gray {
  color: var(--color-light-grey);
}

.text-larger {
  font-size: var(--font-size-lg);
}



/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
  position: absolute;
  top: 12%;
  left: 48%;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn)
  }
}