.container {
  width: 100%;
  height: 100%;
  /* background-color: #5a5abd; */
  /* background-color: #18181b; */

}

.FormDiv {
  width: 86%;
  /* margin: 3% auto; */
  margin-left: 10%;
  margin-top: 5%;



}

.form-box {
  flex-wrap: wrap;
}

.typebot-form {
  background-color: #1a5fff;
  width: 200px;
  margin: 16px;
  /* padding: 12px; */
  height: 240px;
  border-radius: 8px;
  gap: 12px;
}

.plusBtn {
  color: #ffffff;
  font-size: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.form-name {
  background-color: #8b8686;
  width: 200px;
  margin: 16px;
  /* padding: 12px; */
  height: 240px;
  border-radius: 8px;
  gap: 12px;
  position: relative;

}

.formName {
  font-size: 18px;
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.delicon {
  position: absolute;
  top: -5%;
  right: -4%;
  width: 22px;
  cursor: pointer;
}