/* Styles for the Header component */
.header {
    width: 100%;
    min-height: 100vh;
    /* Full viewport height */
    padding: 1rem;
    box-sizing: border-box;
}

.header .mainContainer {
    width: 100%;

}

.container {
    width: 50%;
    /* background-color: orange; */
}

.header .mainHeading {
    margin-bottom: 1rem;
    background: -webkit-gradient(#4B83FF, #B794F4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(#4B83FF, #B794F4);
    background-clip: text;

}

.header p {
    font-size: .8rem;
    margin-bottom: 2rem;
    max-width: 600px;


}

.imgContainer img {
    /* width: 100%; */
    /* max-width: 500px; */
    height: auto;
    margin-top: 2rem;
}